@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Cabin";
    padding: 0;
    margin: 0;
}

:root {
    --white: #FFFFFF;
    --primary: #F3E5F6;
    --secondary: #E1BEE8;
    --tertiary: #AB46BC;
    --quaternary: #d4addb;
    --stroke: #CF93D9;
    --curve: 7px;
}

.header {
    width: 99.35%;
    height: 1.2rem;
    background-color: var(--tertiary);
    padding: 5px;
    color: var(--primary);
}

.main {
    display: flex;

}

.main__left-container {
    width: 77%;
    height: 96vh;
}

button {
    cursor: pointer;
}

.panel {
    width: 100%;
    height: 20%;
    background-color: var(--primary);
    border: 2px solid var(--stroke);
    overflow-y: auto;
}

.tools.panel {
    height: 14.5%;
    display: flex;
    align-items: center;
}

.materials.panel {
    height: 21.5%;
}

.panel-header {
    width: 100%;
    height: 1.6rem;
    background-color: var(--secondary);
    border-bottom: 2px solid var(--stroke);
    padding: 3px 0 3px 3px;
    box-sizing: border-box;
}

.panel-header__text {
    color: var(--tertiary);
    font-size: 15px;
}

.scene {
    width: 100%;
    height: 62.6%;
}

.main__right-container {
    width: 22.8%;
    height: 96vh;
    display: flex;
    flex-direction: column;
}

.objects.panel, .properties.panel {
    height: 100%;
}

.tool {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--curve);
    cursor: pointer;
}

.tools.panel {
    overflow: hidden;
}

.tool-icon {
    width: 50px;
}

.tool-text {
    font-size: 14px;
    color: var(--tertiary);
    text-align: center;
}

.wrapper {
    padding: 10px 35px 20px 30px;
    display: flex;
    gap: 30px;
}

hr {
    background-color: var(--stroke);
    width: 2px;
    height: 80%;
    border: none;
}

.tool-input__text {
    font-size: 15px;
    color: var(--tertiary);
}

.tool-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    min-width: 12rem;
}

.tool-input__field {
    width: 50px;
    height: 8px;
    border: 2px solid var(--stroke);
    border-radius: var(--curve);
    padding: 5px;
    font-size: 14px;
    color: var(--tertiary);
}

.simulator-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.tool-simulator-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tool-simulator-controls__button {
    width: 25px;
    height: 25px;
    border: 2px solid var(--stroke);
    border-radius: var(--curve);
    padding: 5px;
    font-size: 14px;
    color: var(--tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.material {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.material-name {
    font-size: 14px;
    color: var(--tertiary);
    text-align: center;
} 

.materials-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 10px 0 10px;
}

.material-container {
    width: 80px;
    height: 85px;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--stroke);
    border-radius: var(--curve);
    position: relative;
}

.material-header {
    width: 100%;
    height: 10px;
    background-color: var(--secondary);
    border-bottom: 1.5px solid var(--stroke);
    border-top-left-radius: var(--curve);
    border-top-right-radius: var(--curve);
}

.material-preview {
    width: 100%;
    height: 100%;
    background-image: url('assets/matbackground.png');
    background-size: cover;
    border-radius: var(--curve);
}

.object-list {
    width: 100%;
    height: 43vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 5px 0 5px 5px;
    box-sizing: border-box;
    overflow-y: hidden;
}

.material-preview-canvas {
    position: absolute;
    top: 3px;
    width: 100%;
    height: 100%;
}

.object-item {
    width: 96%;
    height: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px;
    background-color: var(--secondary);
    border: 1.5px solid var(--stroke);
    border-radius: var(--curve);
}

.object-item__name {
    font-size: 14px;
    color: var(--tertiary);
    flex-grow: 1;
}

.object-item__icon {
    width: 20px;
    height: 20px;
}

.position-property {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.property-text {
    font-size: 14px;
    color: var(--tertiary);
    margin-right: 10px;
}

.property-inputs {
    display: flex;
    gap: 10px;
}

.property-input {
    width: 50px;
    height: 15px;
    border: 2px solid var(--stroke);
    border-radius: var(--curve);
    padding: 5px;
    font-size: 14px;
    color: var(--tertiary);
}

.properties-container__transform {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.panel-properties-header {
    width: 100%;
    height: 1.6rem;
    background-color: var(--quaternary);
    border: 1.5px solid var(--stroke);
    padding: 3px 0 3px 3px;
    box-sizing: border-box;
}

.properties-container__physics {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.property {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.property-text {
  margin: 0;
  font-size: 16px;
  line-height: 1;
  width: 100px; 
}

.delete-property {
    width: 80px;
    height: 27px;
    border: 2px solid var(--stroke);
    border-radius: var(--curve);
    padding: 5px;
    font-size: 14px;
    color: var(--tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

.properties-container__material {
    padding: 10px;
    display: flex;
    gap: 20px;
}

.material-property {
    width: 150px;
    height: 150px;
    background-image: url('assets/matbackground.png');
    background-size: cover;
    border: 2px solid var(--stroke);
    position: relative;
}

.material-settings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.material-setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.material-setting__text {
    font-size: 14px;
    color: var(--tertiary);
}

.material-setting__input {
    width: 50px;
    height: 15px;
    border: 2px solid var(--stroke);
    border-radius: var(--curve);
    padding: 5px;
    font-size: 14px;
    color: var(--tertiary);
}

input[type="color"] {
    width: 63px;
    height: 25px;
    border: 2px solid var(--stroke);
    border-radius: var(--curve);
    padding: 5px;
    color: var(--tertiary);
}

.object-modal.hidden {
    display: none;
    transform: translate(0, -10%);
    opacity: 0;
}

.object-modal {
    position: absolute;
    top: 8.8rem;
    left: 0.3rem;
    width: 500px;
    height: 175px;
    background-color: rgba(224, 231, 240, 0.414);
    backdrop-filter: blur(5px);
    border: 2px solid var(--stroke);
    border-radius: var(--curve);
    display: flex;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    transition: 0.3s ease;
}

.object-container {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.object-icon {
    width: 40px;
    height: 40px;
}

.object-name {
    font-size: 15px;
    color: var(--tertiary);
}